In [1]:
# Import all the important library.
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
M_M_data = pd.read_csv("../Intership/M&M.csv")

# Problem Statement 1.1
#### Import the csv file of the stock of your choosing using 'pd.read_csv()' function into a dataframe. Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'. Analyze and understand each column properly. You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.

In [2]:
dt = M_M_data[M_M_data['Series'] == 'EQ']

In [3]:
dt.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,M&amp;M,EQ,15-May-17,1367.85,1373.0,1386.65,1370.0,1374.80,1375.65,1378.31,558190,7.693579e+08,38442,386664,69.27
1,M&amp;M,EQ,16-May-17,1375.65,1377.0,1380.50,1363.1,1364.15,1366.35,1371.22,516012,7.075634e+08,29075,334469,64.82
2,M&amp;M,EQ,17-May-17,1366.35,1363.0,1384.35,1360.4,1379.00,1378.80,1378.56,920884,1.269497e+09,32299,689649,74.89
3,M&amp;M,EQ,18-May-17,1378.80,1369.0,1372.00,1347.5,1347.50,1352.85,1361.70,1217846,1.658344e+09,20476,1043736,85.70
4,M&amp;M,EQ,19-May-17,1352.85,1350.0,1357.60,1328.5,1338.20,1333.40,1344.80,976742,1.313522e+09,36297,773590,79.20

In [4]:
dt.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
492,M&amp;M,EQ,07-May-19,638.50,641.75,642.90,634.2,635.55,636.00,637.64,3160875,2.015496e+09,72445,2366596,74.87
493,M&amp;M,EQ,08-May-19,636.00,635.55,637.00,619.0,624.60,621.65,631.73,3853705,2.434492e+09,51461,3092701,80.25
494,M&amp;M,EQ,09-May-19,621.65,620.90,627.95,616.1,625.80,625.45,621.74,1366143,8.493796e+08,52412,538598,39.42
495,M&amp;M,EQ,10-May-19,625.45,626.25,631.85,619.0,625.85,628.75,624.59,2093110,1.307326e+09,55778,1074491,51.33
496,M&amp;M,EQ,13-May-19,628.75,628.70,628.70,615.0,616.90,617.60,621.36,1463136,9.091296e+08,43320,896064,61.24

In [5]:
dt.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,967.834413,968.432692,977.862854,956.393016,966.060223,966.315688,967.298725,2.399657e+06,2.084868e+09,66457.068826,1.355680e+06,58.209028
std,284.639055,284.590215,286.843471,283.058929,284.420367,284.501886,285.106647,1.638213e+06,1.252465e+09,36869.097710,9.005343e+05,11.370390
min,621.650000,620.900000,627.950000,615.000000,616.900000,617.600000,621.360000,1.751950e+05,2.408261e+08,4034.000000,9.190200e+04,24.570000
25%,741.825000,744.000000,751.437500,732.825000,741.650000,741.587500,743.842500,1.300886e+06,1.302878e+09,39800.500000,7.448740e+05,50.157500
50%,859.125000,860.250000,868.700000,850.000000,857.550000,857.925000,859.190000,2.037748e+06,1.776785e+09,58674.000000,1.128896e+06,58.805000
75%,1330.137500,1333.375000,1342.700000,1313.975000,1327.850000,1328.100000,1328.005000,3.006416e+06,2.456863e+09,82083.000000,1.683622e+06,65.632500
max,1556.300000,1560.000000,1571.400000,1533.100000,1550.400000,1556.300000,1557.090000,1.108417e+07,8.737215e+09,253657.000000,5.426021e+06,85.700000

# Problem Statement 1.2
### Calculate the max.,mn & mean priceof last 90 days

In [6]:
max_price = dt.tail(90)['Close Price'].max()
print('Max. stock price of Last 90 days is : ',max_price)
min_price = dt.tail(90)['Close Price'].min()
print('Min. stock price of Last 90 days is : ',min_price)
mean_price = dt.tail(90)['Close Price'].mean()
print('Mean. stock price of Last 90 days is : ',mean_price)

Max. stock price of Last 90 days is :  803.85
Min. stock price of Last 90 days is :  617.6
Mean. stock price of Last 90 days is :  676.8238888888889

# Problem Statement 1.3¶
#### Analyse the data types for each column of the dataframe. Pandas knows how to deal with dates in an intelligent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object' type to 'datetime64(ns)' for future convenience. See what happens if you subtract the minimum value of the date column from the maximum value.

In [7]:
dt['Date'] = pd.to_datetime(dt['Date'],dayfirst=True)

In [8]:
dt.dtypes

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

In [9]:
print(' No. of days of Data is : ' ,dt.Date.max() - dt.Date.min())

 No. of days of Data is :  728 days 00:00:00

# Problem Statement 1.4
#### In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock. ( VWAP = sum(price*volume)/sum(volume) ) To know more about VWAP , visit - VWAP definition {Hint : Create a new dataframe column ‘Month’. The values for this column can be derived from the ‘Date” column by using appropriate pandas functions. Similarly, create a column ‘Year’ and initialize it. Then use the 'groupby()' function by month and year. Finally, calculate the vwap value for each month (i.e. for each group created).

In [10]:
dt['Year'] = pd.DatetimeIndex(dt['Date']).year
dt['Month'] = pd.DatetimeIndex(dt['Date']).month

In [11]:
VWAP_data = dt.groupby(['Year','Month']).sum()
print(VWAP_data)

            Prev Close  Open Price  High Price  Low Price  Last Price  \
Year Month
2017 5        17511.05    17565.15    17788.25   17365.25    17568.15
     6        29412.65    29531.45    29751.20   29192.85    29344.75
     7        28996.75    29021.15    29319.65   28806.25    29027.75
     8        29084.60    29094.30    29307.00   28802.00    29027.50
     9        27201.05    27254.40    27450.65   26923.20    27106.80
     10       26709.95    26794.70    27054.25   26531.35    26768.55
     11       30695.20    30809.00    31049.10   30512.60    30768.80
     12       25251.35    24565.25    24842.75   24317.75    24585.45
2018 1        16679.25    16706.15    16837.15   16542.60    16691.30
     2        14137.60    14174.55    14303.60   13916.40    14104.65
     3        13941.40    13953.95    14099.60   13810.15    13939.10
     4        16738.45    16787.55    17020.05   16636.15    16863.20
     5        18837.10    18874.80    19125.80   18624.45    18882.85
     6        19075.70    19105.00    19277.50   18875.85    19039.00
     7        20078.35    20135.05    20306.90   19915.50    20106.50
     8        19964.70    20014.00    20213.40   19842.90    19987.30
     9        16819.50    16862.05    17052.15   16385.20    16717.80
     10       16051.80    16046.15    16283.90   15652.45    15940.65
     11       15422.60    15492.70    15673.50   15264.60    15448.95
     12       15204.60    15226.20    15427.40   14998.90    15219.95
2019 1        16587.25    16611.60    16689.90   16323.80    16457.95
     2        13135.40    13153.80    13302.65   12953.00    13097.50
     3        12769.25    12789.10    12918.70   12655.50    12789.65
     4        12717.30    12753.50    12842.60   12593.00    12692.90
     5         5087.35     5084.20     5126.60    5016.45     5056.75

            Close Price  Average Price  Total Traded Quantity      Turnover  \
Year Month
2017 5         17560.15       17588.28               15048692  2.059900e+10
     6         29344.30       29452.38               26111491  3.668574e+10
     7         29051.45       29084.58               19857322  2.755337e+10
     8         29026.10       29052.29               19760228  2.738894e+10
     9         27110.50       27157.33               21313709  2.756257e+10
     10        26800.50       26830.01               18514744  2.469765e+10
     11        30756.95       30778.62               31202208  4.359157e+10
     12        24595.90       24601.06               56731484  6.663895e+10
2018 1         16691.20       16694.56               44989149  3.413760e+10
     2         14102.90       14114.59               48239357  3.610664e+10
     3         13951.95       13955.10               41923678  3.083001e+10
     4         16872.85       16849.68               52373136  4.212577e+10
     5         18886.75       18877.76               54428674  4.736777e+10
     6         19050.45       19082.18               52907964  4.800474e+10
     7         20116.60       20106.77               43623492  3.992304e+10
     8         19994.05       20035.18               45983827  4.378499e+10
     9         16715.15       16752.21               52216208  4.839418e+10
     10        15956.80       15965.68               82382490  6.287269e+10
     11        15447.55       15473.30               59284147  4.589761e+10
     12        15217.55       15218.21               69474250  5.262512e+10
2019 1         16463.45       16487.87               91319354  6.545135e+10
     2         13101.25       13123.16               84391800  5.565691e+10
     3         12797.25       12793.61               72481965  4.864335e+10
     4         12688.70       12700.97               62097485  4.145730e+10
     5          5059.65        5070.19               18773548  1.192787e+10

            No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
Year Month
2017 5             582523          8838438                  814.56
     6             909104         17909619                 1443.70
     7             666151         13735877                 1405.69
     8             743926         12579470                 1336.40
     9             856021         13661519                 1295.20
     10            681760         11281225                 1191.91
     11           1048663         20330770                 1448.19
     12           1139413         39626630                 1413.28
2018 1             942025         30236203                 1472.48
     2            1055239         28839335                 1119.46
     3             960197         26198634                 1166.06
     4            1283048         31334959                 1241.16
     5            1393018         26819080                 1174.20
     6            1770633         30280883                 1217.45
     7            1609215         22719121                 1142.87
     8            1503169         25119103                 1192.31
     9            1657349         26598923                  920.69
     10           2540456         45679399                 1126.38
     11           1652235         30305802                  997.01
     12           2100932         31902990                  893.12
2019 1            2351200         46686559                 1166.49
     2            1849016         41720947                 1006.27
     3            1480873         39895345                 1022.36
     4            1579176         35634553                 1072.12
     5             474450         11770659                  475.90

In [12]:
dt['VWAP'] = (np.cumsum(dt['Close Price'] * dt['Total Traded Quantity']) / np.cumsum(dt['Total Traded Quantity']))
data_vwap = dt[['Month','Year','VWAP']]
group = data_vwap.groupby(['Month','Year'])
group.first()

                   VWAP
Month Year
1     2018  1308.899245
      2019   940.695677
2     2018  1205.692082
      2019   917.575168
3     2018  1139.526950
      2019   897.083384
4     2018  1088.806319
      2019   882.093361
5     2017  1375.650000
      2018  1053.713646
      2019   871.074123
6     2017  1372.048249
      2018  1031.461251
7     2017  1386.610755
      2018  1018.577664
8     2017  1387.950712
      2018  1010.611177
9     2017  1385.854076
      2018  1005.964570
10    2017  1364.485760
      2018   998.942196
11    2017  1360.799150
      2018   971.554087
12    2017  1368.375187
      2018   956.274584

# Problem Satement 1.5
#### Write a function to calculate the average price over the last N days of the stock price data where N is a user defined parameter. Write a second function to calculate the profit/loss percentage over the last N days. Calculate the average price AND the profit/loss percentages over the course of last - 1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year. {Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days }

In [13]:
#here N refers to number of days
def avg_price(N):
    return (dt['Average Price'].tail(N).sum())/N
print("Average prices for last N days are as follows:")
print("Last 1 week",avg_price(5))
print("Last 2 weeks",avg_price(10))
print("Last 1 month",avg_price(20))
print("Last 3 months",avg_price(60))
print("Last 6 months",avg_price(120))
print("Last 1 year",avg_price(240))
print("Profit/Loss % for N days are as follows:")
def prof_loss(N):
    difference = (dt['Close Price'].tail(N).iloc[N-1] - dt['Close Price'].tail(N).iloc[0])
    if difference < 0 :
        loss = -(difference)
        loss_percen = (loss/dt['Close Price'].tail(N).iloc[N-1])*100
        return loss_percen
    if difference > 0 :
        profit = difference
        profit_percen = (profit/dt['Close Price'].tail(N).iloc[N-1])*100
        return profit_percen
print("Loss/Profit percentage for last N days are as follows:")
print("Last 1 week",prof_loss(5))
print("Last 2 weeks",prof_loss(10))
print("Last 1 month",prof_loss(20))
print("Last 3 months",prof_loss(60))
print("Last 6 months",prof_loss(120))
print("Last 1 year",prof_loss(240))

Average prices for last N days are as follows:
Last 1 week 627.412
Last 2 weeks 637.7900000000001
Last 1 month 656.2345
Last 3 months 659.0695
Last 6 months 698.5299166666666
Last 1 year 790.3360416666667
Profit/Loss % for N days are as follows:
Loss/Profit percentage for last N days are as follows:
Last 1 week 2.97927461139896
Last 2 weeks 6.77623056994819
Last 1 month 8.524935233160617
Last 3 months 4.849417098445585
Last 6 months 24.109455958549216
Last 1 year 34.42357512953368

# Problem 1.6¶
#### Add a column 'Day_Perc_Change' where the values are the daily change in percentages i.e. the percentage change between 2 consecutive day's closing prices. Instead of using the basic mathematical formula for computing the same, use 'pct_change()' function provided by Pandas for dataframes. You will note that the first entry of the column will have a ‘Nan’ value. Why does this happen? Either remove the first row, or set the entry to 0 before proceeding.

In [14]:
dt['Day_Perc_Change'] = dt['Close Price'].pct_change().fillna(0)
dt.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,VWAP,Day_Perc_Change
0,M&amp;M,EQ,2017-05-15,1367.85,1373.0,1386.65,1370.0,1374.80,1375.65,1378.31,558190,7.693579e+08,38442,386664,69.27,2017,5,1375.650000,0.000000
1,M&amp;M,EQ,2017-05-16,1375.65,1377.0,1380.50,1363.1,1364.15,1366.35,1371.22,516012,7.075634e+08,29075,334469,64.82,2017,5,1371.182580,-0.006760
2,M&amp;M,EQ,2017-05-17,1366.35,1363.0,1384.35,1360.4,1379.00,1378.80,1378.56,920884,1.269497e+09,32299,689649,74.89,2017,5,1374.698599,0.009112
3,M&amp;M,EQ,2017-05-18,1378.80,1369.0,1372.00,1347.5,1347.50,1352.85,1361.70,1217846,1.658344e+09,20476,1043736,85.70,2017,5,1366.416995,-0.018821
4,M&amp;M,EQ,2017-05-19,1352.85,1350.0,1357.60,1328.5,1338.20,1333.40,1344.80,976742,1.313522e+09,36297,773590,79.20,2017,5,1358.719717,-0.014377

# Problem 1.7
#### Add another column 'Trend' whose values are: 'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5 'Slight positive' for 'Day_Perc_Change' in between 0.5 and 1 'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1 'Positive' for 'Day_Perc_Change' in between 1 and 3 'Negative' for 'Day_Perc_Change' in between -1 and -3 'Among top gainers' for 'Day_Perc_Change' in between 3 and 7 'Among top losers' for 'Day_Perc_Change' in between -3 and -7 'Bull run' for 'Day_Perc_Change' >7 'Bear drop' for 'Day_Perc_Change' <-7

In [15]:
dt.loc[(dt['Day_Perc_Change']>= -0.5) & (dt['Day_Perc_Change']<= 0.5), 'Trend'] = 'Slight or No change'
dt.loc[(dt['Day_Perc_Change']>= 0.5) & (dt['Day_Perc_Change']<=1), 'Trend'] = 'Slight positive'
dt.loc[(dt['Day_Perc_Change']<= -0.5) & (dt['Day_Perc_Change']>=-1), 'Trend'] = 'Slight negative'
dt.loc[(dt['Day_Perc_Change']>= 1) & (dt['Day_Perc_Change']<= 3), 'Trend'] = 'Positive'
dt.loc[(dt['Day_Perc_Change']<= -1) & (dt['Day_Perc_Change']>= -3), 'Trend'] = 'Negative'
dt.loc[(dt['Day_Perc_Change']>= 3) & (dt['Day_Perc_Change']<= 7), 'Trend'] = 'Among top gainers'
dt.loc[(dt['Day_Perc_Change']<= -3) & (dt['Day_Perc_Change']>= -7), 'Trend'] = 'Among top losers'
dt.loc[(dt['Day_Perc_Change']> 7), 'Trend'] = 'Bull run'
dt.loc[(dt['Day_Perc_Change'] < -7), 'Trend'] = 'Bear drop'

# Problem Statement  1.8
#### Find the average and median values of the column 'Total Traded Quantity' for each of the types of 'Trend'. {Hint : use 'groupby()' on the 'Trend' column and then calculate the average and median values of the column 'Total Traded Quantity'}

In [16]:
print(dt.groupby(dt['Trend']).mean()['Total Traded Quantity'])
print(dt.groupby(dt['Trend']).median()['Total Traded Quantity'])

Trend
Slight negative        6.803736e+06
Slight or No change    2.390723e+06
Name: Total Traded Quantity, dtype: float64
Trend
Slight negative        6803736
Slight or No change    2034516
Name: Total Traded Quantity, dtype: int64

# Query 1.9
#### SAVE the dataframe with the additional columns computed as a csv file week2.csv. In Module 2, you are going to get familiar with matplotlib, the python module which is used to visualize data.

In [17]:
dt.to_csv('Module1Solutions.csv')